* {
  box-sizing: border-box;
}

html,body{
  min-height: 100vh;
}

.view {
  min-height:80vh;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  animation: fade-in 1s;
}

h1 {
  padding-bottom:2rem;
}

.fade-in{
  animation: fade-in 1s;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.arrow-point-up-anchor{
  position:relative;
  opacity: 0;
  animation: fade-in 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.arrow-point-up-anchor > *{
  position:absolute;
  top:0;
  left:0;
  width: 12rem;
  height:10rem;

  background-image: url("img/uparrow.svg");
  background-size: cover;
}

.acti-add{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}


.acti-content{
  width: 470px;
  height: 250px;
  background-color: #faf1cfff;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  /* position: relative; */
}

.addinput{
  width: 50%;
  display: block;
  margin: 10px auto;
}

.addbutton{
  margin:10px 10px;
  bottom: 10;
}

.Acti-add-title
{
  padding-bottom:1rem;
}

.CustomActiLeft{
  float: left; 
  margin-right: 0 !important; 
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.CustomActiRight{
  float: left; 
  margin-left: 0 !important; 
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.actiRemoveButton:hover{
  background-color: red;
}

.actirows
{
  padding-right: 20px;
  text-align: left center;
  
}

.acticolm
{
  padding-bottom: 20px;
  font-size: large;
}

.actitable
{
  border-collapse: separate;
  border-spacing: 20px 5px;
  display: block;
}

#container{
  position:relative;
}
.view > .progress-tracker {
  margin-top:-0.5rem;
  width: 100%;
  z-index: -1;
} 